@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3 style="text-align:center;">@ViewBag.Message</h3>

<address style="text-align:center;">
    Mlecni Put<br />
    Galaxy, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    011.111.0000
</address>

<address style="text-align:center; margin-bottom: 280px;">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">daleka@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">galaksija@gmail.com</a>
</address>