@{
    ViewBag.Title = "Home Page";
}
<div id="slika">


    <img src="~/Content/img/aerial-aerial-view-aeroplane-59519.jpg" />
    <div class="statment">
        <h1>LuftStrasse</h1>
        <p>Fly With Us</p>
    </div>
    <div class="strela">

        <img id="str" src="~/Content/img/strelica.gif" />
    </div>
</div>
<h2>Discover our services</h2>
<div class="row">

    <div class="col-md-4">
        <img class="serviceimg" src="~/Content/img/air-travel-aircraft-airplane-2033343.jpg" />
        <h2>LuftStrasse Magazines</h2>
        <p>
            A wide selection of free newspapers and magazines are now available
            to all LuftStrasse passangers as eJournals...
        </p>
        <p><a class="btn btn-default" href="https://www.lufthansa.com/gc/en/discover-lufthansa/digital-services/new-website" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="serviceimg" src="~/Content/img/aircraft-airplane-man-527.jpg" />
        <h2>LuftStrasse Lounges</h2>
        <p>
            While away the time until your flight in one of our lounges.
            Our lounge directory will tell you all about the services offered in our lounge...
        </p>
        <p><a class="btn btn-default" href="https://www.lufthansa.com/gc/en/during-your-trip/lounges" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="serviceimg" src="~/Content/img/blog-businesswoman-create-267569.jpg" />
        <h2>FlyNet OnBoard</h2>
        <p>
            LuftStrasse FlyNet on-board Internet offers you an abundance of new possibilites,
            whether you wish to use your time for working or for some relaxed surfing...
        </p>
        <p><a class="btn btn-default" href="https://www.lufthansa.com/gc/en/during-your-trip/internet-on-board" target="_blank">Learn more &raquo;</a></p>
    </div>

</div>
<div class="extras">
    <div class="plus">
        <i class="fas fa-car"></i>
        <h3>Your rental car</h3>
        <p>
            As a Luftstrasse customer,enjoy exclusive
            benefits with our partners.
        </p>
    </div>
    <div class="plus">
        <i class="fas fa-plus-circle"></i>
        <h3>Additional services</h3>
        <p>
            Make a journey even more comfortable
            with our additional services.
        </p>
    </div>
    <div class="plus">
        <i class="fas fa-bed"></i>
        <h3>Your hotel from Booking.com</h3>
        <p>
            Our hotel partners offers you a range of accomodation
            worldwide at the best price.
        </p>
    </div>
</div>